[defaults]
inventory           = inventory/hosts.yml
roles_path          = roles
host_key_checking   = False
stdout_callback       = yaml
display_skipped_hosts = false
display_ok_hosts      = true
timeout               = 60
deprecation_warnings  = False
gathering             = explicit
retry_files_enabled = False
forks               = 10
interpreter_python  = auto_silent

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s
